/*  your css code here. If applicable */
.modal{
	width: 560px;
	/* background-color: red; */
	padding: 15px;
	margin: 10px;
	border: 1px solid gray;
	box-shadow: 2px 2px 2px 2px;
}

.i{
	color: red;
}
.modal-header{
	border: none;
	width: 550px;
	/* height: 50px; */
	background-color: green;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-top: 10px;
}
.modal-body{
	border: none;
	width: 550px;
	/* height: 50px; */
	/* background-color: gray; */
	margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
}